<table class="table table-striped pera">
    <thead>
      <tr>
        <th>Grade <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Points <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Exam date <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Status <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>      </tr>
        <th>Course name <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exam of exams">
        <td>{{exam.grade}}</td>
        <td>{{exam.points}}</td>
        <td>{{exam.examDate}}</td>
        <td>{{exam.status}}</td>
        <td>{{exam.courseName}}</td>
      </tr>
    </tbody>
  </table>
