<table class="table table-striped pera">
    <thead>
      <tr>
        <th>Grade <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Points <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Exam date <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Status <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>    
        <th>Course name <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th> 
        <th>Preexam obligations for exam <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>     
        <th>Register exam <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>     

      </thead>
    <tbody>
      <tr *ngFor="let exam of exams">
        <td>{{exam.grade}}</td>
        <td>{{exam.points}}</td>
        <td>{{exam.examDate}}</td>
        <td>{{exam.status}}</td>
        <td>{{exam.courseName}}</td>
        <td><button class="badge badge-warning" routerLink="/studentPreexamObligations/{{ exam.id }}">
          Details</button></td>
          <td ><button  class="badge badge-warning"  (click)="register(exam.id)">
            Register exam</button></td>
            
       
      </tr>
    </tbody>
  </table>
  <div>
    <button class="btn btn-primary" (click)="goBack()">Cancel</button>
     </div> 