<div style="width: 400px; margin: auto;">
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="name"> Name </label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="examPeriod.name" name="name"/>
            </div>

            <div class="form-group">
                <label for="startDate"> Start date </label>
                <input type="date" class="form-control" id="startDate" required [(ngModel)]="examPeriod.startDate" name="startDate"/>
            </div>

            
            <div class="form-group">
                <label for="endDate"> End date </label>
                <input type="date" class="form-control" id="endDate" required [(ngModel)]="examPeriod.endDate" name="endDate"/>
            </div>

            
            <div class="form-group">
                <label for="paymentAmount"> Payment amount </label>
                <input type="number" class="form-control" id="paymentAmount" required [(ngModel)]="examPeriod.paymentAmount" name="paymentAmount"/>
            </div>

            <button (click)="saveExamPeriod()" class="btn btn-success"> Submit </button>
        </div>

        <div *ngIf="submitted">
            <h4> The exam period was added successfully!</h4>
            <button class="btn btn-success" (click)="newExamPeriod()"> Add new exam period </button>
        </div>
    </div>
</div>