
<div class="submit-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Name</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          [(ngModel)]="examPeriod.name" 
          id = "name"
          name="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name of exam period is required</div>
          <div *ngIf="f.name.errors.minlength">
            Name must be at least 3 characters
          </div>
          <div *ngIf="f.name.errors.maxlength">
            Name must not exceed 13 characters
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label>Start date</label>
        <input
          type="text"
          formControlName="startDate"
          class="form-control"
          [(ngModel)]="examPeriod.startDate" 
          id = "startDate"
          name="startDate"
          [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }"
        />
        <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
          <div *ngIf="f.startDate.errors.required">Start date is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>End date</label>
        <input
          type="text"
          formControlName="endDate"
          class="form-control"
          [(ngModel)]="examPeriod.endDate" 
          id = "endDate"
          name="endDate"
          [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }"
        />
        <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
          <div *ngIf="f.endDate.errors.required">End date is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Payment amount</label>
        <input
          type="number"
          formControlName="paymentAmount"
          class="form-control"
          [(ngModel)]="examPeriod.paymentAmount" 
          id = "paymentAmount"
          name="paymentAmount"
          [ngClass]="{ 'is-invalid': submitted && f.paymentAmount.errors }"
        />
        <div *ngIf="submitted && f.paymentAmount.errors" class="invalid-feedback">
          <div *ngIf="f.paymentAmount.errors.required">Payment is required</div>
        </div>
      </div>

      <div *ngIf="submitted">
        <h4> The exam period was added successfully!</h4>
        <button class="btn btn-success" (click)="newExamPeriod()"> Add new exam period </button>
    </div>

      <div class="form-group">
       <button (click)="saveExamPeriod()" class="btn btn-success"> Submit </button>
        <button
          type="button"
          (click)="onReset()"
          class="btn btn-warning float-right"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
