
<div class="list row">
    <div class="col-md-6">
      <h4> List of exam periods </h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let examPeriod of examPeriods; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveExamPeriod(examPeriod, i)"
        >
          {{ examPeriod.name }}
        </li>
      </ul>
      
    </div>
    <div class="col-md-6">
      <div *ngIf="currentExamPeriod">
        <h4> Exam period </h4>
        <div>
          <label><strong>Name :</strong></label> {{ currentExamPeriod.name }}
        </div>
        <div>
          <label><strong>Start date:</strong></label>
          {{ currentExamPeriod.startDate}}
        </div>
        <div>
          <label><strong>End date:</strong></label>
          {{ currentExamPeriod.endDate}}
        </div>
        <div>
            <label><strong>Payment amount:</strong></label>
            {{ currentExamPeriod.paymentAmount}}
          </div>
      
        <a class="badge badge-warning" routerLink="/examPeriods/{{ currentExamPeriod.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentExamPeriod">
        <br />
        <p>Please click on a exam period..</p>
      </div>
    </div>
  </div>