
<nav class="navbar navbar-expand-sm navbar-light bg-light">

    <a class="navbar-brand">Student panel</a>
  
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/financialCard']" >Financial card</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/payouts']">Financial card payouts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/payment']">Financial card payment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/studentDocuments']" >My documents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/studentExams']">Exams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/studentProfile/']">Profile</a>
      </li>
    </ul>
  
    <ul class="navbar-nav ml-auto">   
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>