<!--
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/adminExamPeriod']">About exam periods</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/adminFinancialCard']">About financial cards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/adminPayment']"> About payments </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/adminPreexamObligation']">About preexam obligations </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/adminStudent']"> Info about students </a>
      </li>
    </ul>
  
    <ul class="navbar-nav ml-auto">   
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>
-->

  <div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Admin panel</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="examPeriods" class="nav-link">Exam periods </a>
        </li>
        <li class="nav-item">
          <a routerLink="addExamPeriod" class="nav-link">Add new exam period</a>
        </li>
      
         <li class="nav-item">
          <a routerLink="students" class="nav-link"> Students </a>
        </li>
        <li class="nav-item">
          <a routerLink="adminAddsStudent" class="nav-link">Add new student</a>
        </li>
       
        <li class="nav-item">
          <a routerLink="financialCards" class="nav-link"> Financial cards </a>
        </li>
        <li class="nav-item">
          <a routerLink="adminAddFinancialCard" class="nav-link"> Add new financial card </a>
        </li>
        <li class="nav-item">
          <a routerLink="payments" class="nav-link"> Payments </a>
        </li>
        <li class="nav-item">
          <a routerLink="adminAddPayment" class="nav-link"> Add new payment </a>
        </li>
        <!--
  <li class="nav-item">
          <a routerLink="preexamObligations" class="nav-link"> Preexam obligations </a>
        </li>
        <li class="nav-item">
          <a routerLink="adminAddPreexamObligation" class="nav-link"> Add new preexam obligation </a>
        </li>
        -->
      
      </div>
    </nav>
  
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
    
    <ul class="navbar-nav ml-auto">   
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>

  </div>