
  <div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Admin panel</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="preexamObligations" class="nav-link"> Preexam obligations </a>
        </li>
        <li class="nav-item">
          <a routerLink="adminAddPreexamObligation" class="nav-link"> Add new preexam obligation </a>
        </li>
        
        <li class="nav-item">
          <a routerLink="examPeriods" class="nav-link">Exam periods </a>
        </li>
        <li class="nav-item">
          <a routerLink="addExamPeriod" class="nav-link">Add new exam period</a>
        </li>
      
         <li class="nav-item">
          <a routerLink="students" class="nav-link"> Students </a>
        </li>
        <li class="nav-item">
          <a routerLink="adminAddsStudent" class="nav-link">Add new student</a>
        </li>
       
        <li class="nav-item">
          <a routerLink="financialCards" class="nav-link"> Financial cards </a>
        </li>
        <li class="nav-item">
          <a routerLink="adminAddFinancialCard" class="nav-link"> Add new financial card </a>
        </li>

        <li class="nav-item">
          <a routerLink="payments" class="nav-link"> Payments </a>
        </li>
        <li class="nav-item">
          <a routerLink="adminAddPayment" class="nav-link"> Add new payment </a>
        </li>
        <li class="nav-item">
          <a routerLink="professors" class="nav-link">Professors </a>
        </li>
        <li class="nav-item">
          <a routerLink="addProfessor" class="nav-link"> Add new professor </a>
        </li>
        <li class="nav-item">
          <a routerLink="exams" class="nav-link">Exams </a>
        </li>
         <li class="nav-item">
          <a routerLink="adminAddExam" class="nav-link"> Add new exam</a>
        </li>
        <li class="nav-item">
          <a routerLink="courses" class="nav-link">Courses </a>
        </li>
         <li class="nav-item">
          <a routerLink="adminAddCourse" class="nav-link"> Add new course </a>
        </li>
        

       
              
      </div>
    </nav>
  
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
    
    <ul class="navbar-nav ml-auto">   
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>

  </div>