<div style="width: 400px;margin: auto;">
    <div *ngIf="currentPreexamobligation" class="edit-form">
        <h4> Preexam obligation </h4>
        <form>
            <div class="form-group">
                <label for="location"> Location </label>
                <input type="text" 
                class="form-control"
                 id="location"
                  [(ngModel)]="currentPreexamObligation.location" 
                  name="location">
            </div>
            <div class="form-group">
                <label for="dateOfObligation"> Date of obligation </label>
                <input type="date"
                class="form-control"
                id="dateOfObligation"
                [(ngModel)] = "currentPreexamObligation.dateOfObligation"
                name="dateOfObligation"
                >
            </div>
        </form>

        <button
        class="badge badge-primary mr-2"
        (click)="deletePreexamObligation()"        
        > Delete preexam obligation </button>

        <button
        type="submit"
        class="badge badge-success"
        (click)="updatePreexamObligation()"
        > Edit selected preexam obligation </button>
        <p> {{message}}</p>
    </div>

    <div *ngIf="!currentPreexamobligation">
        <br/>
        <p>Preexam obligation is unavailable!</p>
    </div>
</div>