<table class="table table-striped pera">
    <thead>
      <tr>
        <th>Date of payment <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Payment description <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Payment amount <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments">
        <td>{{payment.dateOfPayment}}</td>
        <td>{{payment.paymentDescription}}</td>
        <td>{{payment.paymentAmount}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <button class="btn btn-primary" (click)="goBack()">Cancel</button>
     </div> 
  