<table class="table table-striped pera">
    <thead>
      <tr>
        <th>Start date <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>End date <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Course name <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        </thead>
    <tbody>
      <tr *ngFor="let enrollment of enrollments">
        <td>{{enrollment.startDate}}</td>
        <td>{{enrollment.endDate}}</td>
        <td>{{enrollment.courseName}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <button class="btn btn-primary" (click)="goBack()">Cancel</button>
     </div> 
