<div class="container-fluid"> 
  <div *ngIf="currentUser != false; else elseBlock">

      <div class="row primer">
        <div class="col">
          <app-header></app-header>
          <app-navbar-student *ngIf="roles.includes('ROLE_STUDENT')"></app-navbar-student>
          <app-navbar-admin *ngIf="roles.includes('ROLE_ADMIN')"></app-navbar-admin>
          <app-navbar-professor *ngIf="roles.includes('ROLE_PROFESOR')"></app-navbar-professor>
        </div>
      </div>
      <div align="center">
        <router-outlet>
          
        </router-outlet>
      </div>
  </div>
  <ng-template #elseBlock>
    <app-login></app-login>
  </ng-template>    
  
</div>


  