
<div class="list row">
  <!-- adsasaddadssa-->
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="number"
        class="form-control"
        placeholder="Search by payment amount: "
        [(ngModel)]="paymentAmount"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchPaymentAmount()"
        >
          Search
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>

<div class="list row">
    <div class="col-md-6">
      <h4> List of payments </h4>
      <ul class="list-group">
        <li
        class="list-group-item"
        *ngFor="
          let payment of payments | paginate : {
            itemsPerPage: pageSize, 
            currentPage: page, 
            totalItems: count
        };
        let i = index
        "
        [class.active]="i == currentIndex"
        (click)="setActivePayment(payment, i)"
      >
          {{ payment.paymentAmount }}
          {{ payment.paymentDescription }}
        </li>
      </ul>

      <div class="mt-3">    
        Items per Page:
        <select (change)="handlePageSizeChange($event)">
          <option *ngFor="let size of pageSizes" [ngValue]="size">
            {{ size }}
          </option>
        </select>
      </div>
      
    </div>
    <div class="col-md-6">
      <div *ngIf="currentPayment">
        <h4> Payment </h4>
        <div>
          <label><strong>Payment amount :</strong></label> {{ currentPayment.paymentAmount }}
        </div>
        <div>
          <label><strong>Payment date:</strong></label>
          {{ currentPayment.paymentDate }}
        </div>
        <div>
          <label><strong>Payment description:</strong></label>
          {{ currentPayment.paymentDescription }}
        </div>
      
        <a class="badge badge-warning" routerLink="/payments/{{ currentPayment.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentPayment">
        <br />
        <p>To see details click on one particular payment!</p>
      </div>
    </div>
  </div>