<table class="table table-striped pera">
    <thead>
      <tr>
        <th>Date of payout <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Payout description <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Payout amount <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payout of payouts">
        <td>{{payout.dateOfPayOut}}</td>
        <td>{{payout.descriptionPayOut}}</td>
        <td>{{payout.payOutAmount}}</td>
      </tr>
    </tbody>
  </table>