
<div class="list row">
    <div class="col-md-6">
      <h4> List of preexam obligations </h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let preexamObligation of preexamObligations; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActivePreexamObligation(preexamObligation, i)"
        >
          {{ preexamObligation.location }}
        </li>
      </ul>
      
    </div>
    <div class="col-md-6">
      <div *ngIf="currentPreexamObligation">
        <h4> Preexam obligation </h4>
        <div>
          <label><strong>Location :</strong></label> {{ currentPreexamObligation.location }}
        </div>
        <div>
          <label><strong>Date of obligation:</strong></label>
          {{ currentPreexamObligation.date}}
        </div>
       
        <a class="badge badge-warning" routerLink="/preexamObligations/{{ currentPreexamObligation.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentPreexamObligation">
        <br />
        <p>Please click on a preexam obligation..</p>
      </div>
    </div>
  </div>
