<!--
<div style="width: 400px;margin: auto;">
    <div *ngIf="currentPayment" class="edit-form">
        <h4> Payment </h4>
        <form>
            <div class="form-group">
                <label for="paymentAmount"> Payment amount </label>
                <input type="number" 
                class="form-control"
                 id="paymentAmount"
                  [(ngModel)]="currentPayment.paymentAmount" 
                  name="paymentAmount">
            </div>
            <div class="form-group">
                <label for="paymentDate"> Payment date </label>
                <input type="date"
                class="form-control"
                id="paymentDate"
                [(ngModel)] = "currentPayment.paymentDate"
                name="paymentDate"
                >
            </div>
            <div class="form-group">
                <label for="paymentDescription"> Payment description </label>
                <input type="text"
                class="form-control"
                id="paymentDescription"
                [(ngModel)] = "currentPayment.paymentDescription"
                name="paymentDescription"
                >
            </div>
        </form>

        <button
        class="badge badge-primary mr-2"
        (click)="deletePayment()"        
        > Delete payment </button>

        <button
        type="submit"
        class="badge badge-success"
        (click)="updatePayment()"
        > Edit selected payment </button>
        <p> {{message}}</p>
    </div>

    <div *ngIf="!currentPayment">
        <br/>
        <p>This payment is unavailable!</p>
    </div>
</div>


-->

<div class="submit-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Date of payment</label>
        <input
          type="date"
          formControlName="dateOfPayment"
          class="form-control"
          [(ngModel)]="currentPayment.dateOfPayment" 
          id = "dateOfPayment"
          name="dateOfPayment"
          [ngClass]="{ 'is-invalid': submitted && f.dateOfPayment.errors }"
        />
        <div *ngIf="submitted && f.dateOfPayment.errors" class="invalid-feedback">
          <div *ngIf="f.dateOfPayment.errors.required"> You must enter date of payment! </div>
        </div>
      </div>
  
      <div class="form-group">
        <label>Payment description</label>
        <input
          type="text"
          formControlName="paymentDescription"
          class="form-control"
          [(ngModel)]="currentPayment.paymentDescription" 
          id = "paymentDescription"
          name="paymentDescription"
          [ngClass]="{ 'is-invalid': submitted && f.paymentDescription.errors }"
        />
        <div *ngIf="submitted && f.paymentDescription.errors" class="invalid-feedback">
          <div *ngIf="f.paymentDescription.errors.required">Payment description is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Payment amount</label>
        <input
          type="number"
          formControlName="number"
          class="form-control"
          [(ngModel)]="currentPayment.paymentAmount" 
          id = "paymentAmount"
          name="paymentAmount"
          [ngClass]="{ 'is-invalid': submitted && f.paymentAmount.errors }"
        />
        <div *ngIf="submitted && f.paymentAmount.errors" class="invalid-feedback">
          <div *ngIf="f.paymentAmount.errors.required">Payment amount is required</div>
          <div *ngIf="f.paymentAmount.errors.minlength">
            Payment amount must have at least 3 digits! 
          </div>
          <div *ngIf="f.paymentAmount.errors.maxlength">
            Payment amount must not exceed 9 digits!
          </div>
        </div>
      </div>

      <button
      class="badge badge-primary mr-2"
      (click)="deletePayment()"        
      > Delete payment </button>

      <button
      type="submit"
      class="badge badge-success"
      (click)="updatePayment()"
      > Edit selected payment </button>
      <p> {{message}}</p>
    

    <div *ngIf="!currentPayment">
      <br/>
      <p>This payment is unavailable!</p>
    </div>
    </form>
  </div>
