<div>

    <div class="box">
        <h2>Login</h2>
        <form>
            <div class="inputBox">
                <input type="text" name="userName" id="userNameInput" required="">
                <label>Username</label>
            </div>
            <div class="inputBox">
                <input type="text" name="password" id="passwordInput" required="" hidden="">
                <label>Password</label>
            </div>
            <div class="inputBox">
                <input type="submit" value="Login" id="loginInput" >
                <a href="#">Forgot password?</a>
            </div>
        </form>
    </div>
</div>