<div class="row justify-content-center align-items-center loginForm">
  <form class="col-md-12 box" #signupForm="ngForm" (ngSubmit)="login(signupForm)">
    <fieldset>
      <legend>Login</legend>

      <div class="form-group row">
        <label for="username" class="control-label col-md-3"><b>Username:</b></label>
        <div class="col-md-9">
          <input type="text"  id="username" name="username" placeholder="username" ngModel>
        </div>
      </div>

      <div class="form-group row">
        <label for="password" class="control-label col-md-3"><b>Password:</b></label>
        <div class="col-md-9">
          <input type="password" id="password" name="password" placeholder="Password" ngModel>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-9">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>

    </fieldset>
  </form>
</div>


