<!-- <div>
  <form #f="ngForm" class="col-md-12 box"  (ngSubmit)="submit(f)">
      <h3>Login</h3>

      <div>
        <label><b>Username:</b></label>
          <input type="text" id="username" name="username" placeholder="username" [(ngModel)]="user.username">
       
      </div>

      <div>
        <label for="password" class="control-label col-md-3"><b>Password:</b></label>
  
          <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="user.password">
    
      </div>
        <div >
          <button type="submit" class="btn btn-primary" [disabled]="f.valid">Login</button>
        </div>
  </form>
</div>

 -->
