<!-- <table class="table table-striped pera">
    <thead>
      <tr>
        <th>Title <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Code <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Ects <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Start Date <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>End Date <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>{{course.title}}</td>
        <td>{{course.courseCode}}</td>
        <td>{{course.ects}}</td>
        <td>{{course.startDate}}</td>
        <td>{{course.endDate}}</td>
      </tr>
    </tbody>
  </table>
  
 -->

  <div>
    <h3> Courses </h3>
</div>

<table class="table table-bordered">
    <tr>
        <th> Title </th>
        <th> Code </th>
        <th> Ects</th>
        <th> Start Date</th>
        <th> End Date </th>
    </tr>
    <!-- <tr *ngFor="let course of courses"> -->
      <tr>
      <td>{{course.title}}</td>
      <td>{{course.courseCode}}</td>
      <td>{{course.ects}}</td>
      <td>{{course.startDate}}</td>
      <td>{{course.endDate}}</td>
    </tr>
</table>
<div>
    <button class="btn btn-primary" (click)="goBack()">Cancel</button>
  </div>
