<div style="width: 400px;margin: auto;">
    <div *ngIf="currentStudent" class="edit-form">
        <h4> About student </h4>
        <form>
            <div class="form-group">
                <label for="cardNumber"> Card number </label>
                <input type="text" 
                class="form-control"
                 id="cardNumber"
                  [(ngModel)]="currentStudent.cardNumber" 
                  name="cardNumber">
            </div>
            <div class="form-group">
                <label for="firstName"> First name </label>
                <input type="text"
                class="form-control"
                id="firstName"
                [(ngModel)] = "currentStudent.firstName"
                name="firstName"
                >
            </div>
            <div class="form-group">
                <label for="lastName"> Last name </label>
                <input type="text"
                class="form-control"
                id="lastName"
                [(ngModel)] = "currentStudent.lastName"
                name="lastName"
                >
            </div>
            <div class="form-group">
                <label for="phoneNumber"> Phone number </label>
                <input type="number"
                class="form-control"
                id="phoneNumber"
                [(ngModel)] = "currentStudent.phoneNumber"
                name="phoneNumber"
                >
            </div>
            <div class="form-group">
                <label for="email"> Email </label>
                <input type="text"
                class="form-control"
                id="email"
                [(ngModel)] = "currentStudent.email"
                name="email"
                >
            </div>
            <div class="form-group">
                <label for="umnc"> UMNC </label>
                <input type="text"
                class="form-control"
                id="umnc"
                [(ngModel)] = "currentStudent.umnc"
                name="umnc"
                >
            </div>
            <div class="form-group">
                <label for="startedCollegeIn"> Started college in </label>
                <input type="number"
                class="form-control"
                id="startedCollegeIn"
                [(ngModel)] = "currentStudent.startedCollegeIn"
                name="startedCollegeIn"
                >
            </div>
            <div class="form-group">
                <label for="modelNumber"> Model number </label>
                <input type="number"
                class="form-control"
                id="modelNumber"
                [(ngModel)] = "currentStudent.modelNumber"
                name="modelNumber"
                >
            </div>
            <div class="form-group">
                <label for="referenceNumber"> Reference number </label>
                <input type="text"
                class="form-control"
                id="referenceNumber"
                [(ngModel)] = "currentStudent.referenceNumber"
                name="referenceNumber"
                >
            </div>
            <div class="form-group">
                <label for="accountNumber"> Account number </label>
                <input type="text"
                class="form-control"
                id="accountNumber"
                [(ngModel)] = "currentStudent.accountNumber"
                name="accountNumber"
                >
            </div>
            <div class="form-group">
                <label for="cardAmount"> Card amount </label>
                <input type="number"
                class="form-control"
                id="cardAmount"
                [(ngModel)] = "currentStudent.cardAmount"
                name="cardAmount"
                >
            </div>
        </form>

        <button
        class="badge badge-primary mr-2"
        (click)="deleteStudent()"        
        > Delete student </button>

        <button
        type="submit"
        class="badge badge-success"
        (click)="updateStudent()"
        > Edit selected student </button>
        <p> {{message}}</p>
    </div>

    <div *ngIf="!currentStudent">
        <br/>
        <p>Student is unavailable!</p>
    </div>
</div>