<div style="width: 400px; margin: auto;">
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="name"> First name </label>
                <input type="text" class="form-control" id="firstName" required [(ngModel)]="student.firstName" name="firstName"/>
            </div>

            <div class="form-group">
                <label for="lastName"> Last name </label>
                <input type="text" class="form-control" id="lastName" required [(ngModel)]="student.lastName" name="lastName"/>
            </div>

            <div class="form-group">
                <label for="cardNumber"> Card number </label>
                <input type="text" class="form-control" id="cardNumber" required [(ngModel)]="student.cardNumber" name="cardNumber"/>
            </div>

            <div class="form-group">
                <label for="phoneNumber"> Phone number </label>
                <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="student.phoneNumber" name="phoneNumber"/>
            </div>

            <div class="form-group">
                <label for="email"> Email  </label>
                <input type="text" class="form-control" id="email" required [(ngModel)]="student.email" name="email"/>
            </div>

            <div class="form-group">
                <label for="umnc"> UMNC  </label>
                <input type="text" class="form-control" id="umnc" required [(ngModel)]="student.umnc" name="umnc"/>
            </div>

            <div class="form-group">
                <label for="startedCollegeIn"> Started college in  </label>
                <input type="number" class="form-control" id="startedCollegeIn" required [(ngModel)]="student.startedCollegeIn" name="startedCollegeIn"/>
            </div>

            <div class="form-group">
                <label for="modelNumber"> Model number </label>
                <input type="number" class="form-control" id="modelNumber" required [(ngModel)]="student.modelNumber" name="modelNumber"/>
            </div>

            <div class="form-group">
                <label for="referenceNumber"> Reference number  </label>
                <input type="text" class="form-control" id="referenceNumber" required [(ngModel)]="student.referenceNumber" name="referenceNumber"/>
            </div>

            <div class="form-group">
                <label for="accountNumber"> Account number  </label>
                <input type="text" class="form-control" id="accountNumber" required [(ngModel)]="student.accountNumber" name="accountNumber"/>
            </div>
            
            <div class="form-group">
                <label for="cardAmount"> Card amount </label>
                <input type="text" class="form-control" id="cardAmount" required [(ngModel)]="student.cardAmount" name="cardAmount"/>
            </div>

            <button (click)="saveStudent()" class="btn btn-success"> Submit </button>
        </div>

        <div *ngIf="submitted">
            <h4> The student was added successfully!</h4>
            <button class="btn btn-success" (click)="newStudent()"> Add new student </button>
        </div>
    </div>
</div>
